# Borrowing this man's list for now
# https://gist.github.com/Yousha/3830712334ac30a90eb6041b932b68d7

## VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace